interactions:
- request:
    body: null
    headers:
      url:
      - https://habitica.com
      x-api-key:
      - 18f22441-2c87-6d8e-fb2a-3fa670837b5a
      x-api-user:
      - cd18fc9f-b649-4384-932a-f3bda6fe8102
    method: GET
    uri: https://habitica.com/api/v3/tasks/user/
  response:
    body:
      string: '{"success": true, "data": [{"challenge": {}, "group": {"completedBy":
        {}, "assignedUsers": []}, "_id": "64224417-c8f1-4ce7-a6bd-fc1dc2221f11", "up":
        true, "down": false, "counterUp": 1, "counterDown": 0, "frequency": "daily",
        "history": [{"date": 1711855633168, "value": 1, "scoredUp": 1, "scoredDown":
        0}, {"date": 1712467677921, "value": 1, "scoredUp": 1, "scoredDown": 0}, {"date":
        1712968776692, "value": 1, "scoredUp": 1, "scoredDown": 0}, {"date": 1713155633827,
        "value": 1.243614090235369, "scoredUp": 1, "scoredDown": 0}, {"date": 1714177946272,
        "value": 1, "scoredUp": 1, "scoredDown": 0}, {"date": 1716434202866, "value":
        1, "scoredUp": 1, "scoredDown": 0}, {"date": 1717992911611, "value": 1, "scoredUp":
        1, "scoredDown": 0}, {"date": 1718492240795, "value": 1, "scoredUp": 1, "scoredDown":
        0}], "type": "habit", "text": "some test habit 1", "notes": "Test notes",
        "alias": "sometesthabit1", "tags": [], "value": 1, "priority": 1.5, "attribute":
        "str", "byHabitica": false, "reminders": [], "createdAt": "2024-03-02T22:14:06.221Z",
        "updatedAt": "2024-06-15T22:57:20.825Z", "userId": "cd18fc9f-b649-4384-932a-f3bda6fe8102",
        "id": "64224417-c8f1-4ce7-a6bd-fc1dc2221f11"}, {"challenge": {}, "group":
        {"completedBy": {}, "assignedUsers": []}, "_id": "f5d2c8e2-634f-4c48-864d-efd5fca555ae",
        "up": true, "down": true, "counterUp": 4, "counterDown": 0, "frequency": "daily",
        "history": [{"date": 1709444368619, "value": 2.9253562257358428, "scoredUp":
        3, "scoredDown": 0}, {"date": 1709532013739, "value": 5.6443010177121415,
        "scoredUp": 3, "scoredDown": 0}, {"date": 1711344173008, "value": 7.3[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer d1347120363c2b310653f610d382729bd51e13c6
    method: GET
    uri: https://api.todoist.com/rest/v2/tasks
  response:
    body:
      string: '[{"id": "4838805235", "assigner_id": null, "assignee_id": null, "project_id":
        "2325654971", "section_id": "142870400", "parent_id": null, "order": 3, "content":
        "some test task 107", "description": "", "is_completed": false, "labels":
        [], "priority": 2, "comment_count": 1, "creator_id": "33931948", "created_at":
        "2021-05-19T02:17:28.278377Z", "due": null, "url": "https://todoist.com/app/task/4838805235",
        "duration": null, "user_id": "34534534534"}, {"id": "4986052922", "assigner_id":
        null, "assignee_id": null, "project_id": "2325654971", "section_id": "142870400",
        "parent_id": "4838805235", "order": 2, "content": "some test task 108", "description":
        "", "is_completed": false, "labels": [], "priority": 1, "comment_count": 0,
        "creator_id": "33931948", "created_at": "2021-07-13T04:36:40.935458Z", "due":
        null, "url": "https://todoist.com/app/task/4986052922", "duration": null,
        "u[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer d1347120363c2b310653f610d382729bd51e13c6
    method: GET
    uri: https://api.todoist.com/sync/v9/completed/get_all
  response:
    body:
      string: '{"items": [{"completed_at": "2024-04-27T02:36:29.000000Z", "content":
        "some test task 169", "id": "7262898766", "item_object": null, "meta_data":
        null, "note_count": 0, "notes": [], "project_id": "2325704627", "section_id":
        null, "task_id": "7560933660", "user_id": "34534534534"}, {"completed_at":
        "2024-03-31T01:05:38.000000Z", "content": "some test task 170", "id": "7186673574",
        "item_object": null, "meta_data": null, "note_count": 0, "notes": [], "project_id":
        "2325704627", "section_id": null, "task_id": "7540151791", "user_id": "34534534534"},
        {"completed_at": "2024-03-02T20:42:04.000000Z", "content": "some test task
        171", "id": "7107644292", "item_object": null, "meta_data": null, "note_[...]
