interactions:
- request:
    body: null
    headers:
      url:
      - https://habitica.com
      x-api-key:
      - 18f22441-2c87-6d8e-fb2a-3fa670837b5a
      x-api-user:
      - cd18fc9f-b649-4384-932a-f3bda6fe8102
    method: GET
    uri: https://habitica.com/api/v3/tasks/user/
  response:
    body:
      string: '{"success": true, "data": [{"_id": "64224417-c8f1-4ce7-a6bd-fc1dc2221f11",
        "up": true, "down": false, "counterUp": 0, "counterDown": 0, "frequency":
        "daily", "history": [{"date": 1711855633168, "value": 1, "scoredUp": 1, "scoredDown":
        0}, {"date": 1712467677921, "value": 1, "scoredUp": 1, "scoredDown": 0}, {"date":
        1712968776692, "value": 1, "scoredUp": 1, "scoredDown": 0}, {"date": 1713155633827,
        "value": 1.243614090235369, "scoredUp": 1, "scoredDown": 0}, {"date": 1714177946272,
        "value": 1, "scoredUp": 1, "scoredDown": 0}, {"date": 1716434202866, "value":
        1, "scoredUp": 1, "scoredDown": 0}, {"date": 1717992911611, "value": 1, "scoredUp":
        1, "scoredDown": 0}, {"date": 1718492240795, "value": 1, "scoredUp": 1, "scoredDown":
        0}, {"date": 1722656221190, "value": 1.9747, "scoredUp": 2, "scoredDown":
        0}, {"date": 1725138075215, "value": 1, "scoredUp": 1, "scoredDown": 0}, {"date":
        1726457768221, "value": 1, "scoredUp": 1, "scoredDown": 0}, {"date": 1727461296611,
        "value": 1, "scoredUp": 1, "scoredDown": 0}], "type": "habit", "text": "some
        test habit 1", "notes": "Test notes", "alias": "sometesthabit1", "tags": [],
        "value": 0, "priority": 1.5, "attribute": "str", "challenge": {}, "group":
        {"completedBy": {}, "assignedUsers": []}, "byHabitica": false, "reminders":
        [], "createdAt": "2024-03-02T22:14:06.221Z", "updatedAt": "2024-10-06T03:58:24.955Z",
        "userId": "cd18fc9f-b649-4384-932a-f3bda6fe8102", "id": "64224417-c8f1-4ce7-a6bd-fc1dc2221f11"},
        {"_id": "f5d2c8e2-634f-4c48-864d-efd5fca555ae", "up": true, "down": true,
        "counterUp": 0, "counterDown": 0, "frequency": "daily", "history": [{"date":
        1709444368619, "value": 2.9253562257358428, "scoredUp": 3, "scoredDown": 0},
        {"date": 1709532013739, "value": 5.6443010177121415, "scoredUp": 3, "scoredDown":
        0}, {"date": 1711344173008, "value": 7.355994112832055, "scoredUp": 2, "scoredDown":
        0}, {"date": 17[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer d1347120363c2b310653f610d382729bd51e13c6
    method: GET
    uri: https://api.todoist.com/rest/v2/tasks
  response:
    body:
      string: '[{"id": "4838805235", "assigner_id": null, "assignee_id": null, "project_id":
        "2325654971", "section_id": "142870400", "parent_id": null, "order": 0, "content":
        "some test task 108", "description": "some test description", "is_completed":
        false, "labels": [], "priority": 2, "comment_count": 1, "creator_id": "33931948",
        "created_at": "2021-05-19T02:17:28.278377Z", "due": null, "url": "https://app.todoist.com/app/task/4838805235",
        "duration": null, "deadline": null, "user_id": "34534534534"}, {"id": "4986052922",
        "assigner_id": null, "assignee_id": null, "project_id": "2325654971", "section_id":
        "142870400", "parent_id": "4838805235", "order": 2, "content": "some test
        task 109", "description": "some test description", "is_completed": false,
        "labels": [], "priority": 1, "comment_count": 0, "creator_id": "33931948",
        "created_at": "2021-07-13T04:36:40.935458Z", "due": null, "url": "https://app.todoist.com/app/task/4986052922",
   [...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer d1347120363c2b310653f610d382729bd51e13c6
    method: GET
    uri: https://api.todoist.com/sync/v9/completed/get_all
  response:
    body:
      string: '{"items": [{"completed_at": "2024-10-24T05:09:13.000000Z", "content":
        "some test task 172", "id": "7752474099", "item_object": null, "meta_data":
        null, "note_count": 0, "notes": [], "project_id": "2325704627", "section_id":
        null, "task_id": "8371018768", "user_id": "34534534534", "v2_project_id":
        "6RG7cFQw4P9rx3w4", "v2_section_id": null, "v2_task_id": "6W7cMMvxMjfv3PFW"},
        {"completed_at": "2024-10-24T05:09:11.000000Z", "content": "some test task
        173", "id": "7752474054", "item_object": null, "meta_data": null, "note_count":
        0, "notes": [], "project_id": "2325704627", "section_id": null, "task_id":
        "8371023100", "user_id": "34534534534", "v2_project_id": "6RG7cFQw4P9rx3w4",
        "v2_section_id": null, "v2_task_id": "6W7cMwjcXP37GRv4"}, {"completed_at":
        "2024-10-24T05:03:48.000000Z", "content": "some [...]
- request:
    body: '{"_id": "d7f74de2-d0c5-4166-aa47-4bfdc975e95a", "date": null, "completed":
      false, "collapseChecklist": false, "type": "todo", "text": "some test task 208",
      "notes": "", "alias": "7752466264", "tags": [], "value": -2.025956704627065,
      "priority": 1, "attribute": "str", "challenge": {}, "group": {"completedBy":
      {}, "assignedUsers": []}, "byHabitica": false, "reminders": [], "createdAt":
      "2024-10-16T04:04:12.896Z", "updatedAt": "2024-10-28T01:18:40.258Z", "userId":
      "518b34ec-0992-457d-a6cb-58e5bd20f522", "id": "d7f74de2-d0c5-4166-aa47-4bfdc975e95a"}'
    headers:
      url:
      - https://habitica.com
      x-api-key:
      - 18f22441-2c87-6d8e-fb2a-3fa670837b5a
      x-api-user:
      - cd18fc9f-b649-4384-932a-f3bda6fe8102
    method: PUT
    uri: https://habitica.com/api/v3/tasks/d7f74de2-d0c5-4166-aa47-4bfdc975e95a
  response:
    body:
      string: '{"success": true, "data": {"challenge": {}, "group": {"completedBy":
        {}, "assignedUsers": []}, "_id": "d7f74de2-d0c5-4166-aa47-4bfdc975e95a", "date":
        null, "completed": false, "collapseChecklist": false, "type": "todo", "text":
        "some test task 209", "notes": "", "alias": "8495267582", "tags": [], "value":
        -2.025956704627065, "priority": 1, "attribute": "str", "byHabitica": false,
        "checklist": [], "reminders": [], "createdAt": "2024-10-16T04:04:12.896Z",
        "updatedAt": "2024-10-28T01:59:05.210Z", "userId": "518b34ec-0992-457d-a6cb-58e5bd20f522",
        "id": "d7f74de2-d0c5-4166-aa47-4bfdc975e95a"}, "notifications": [{"type":
        "NEW_STUFF", "data": {"title": "LAST CHANCE FOR CANDY CORN CRITTER SET AND
        CURRENT TIME TRAVELERS'' SELECTIONS"}, "seen": true, "id": "2a4845f7-8f2a-45b6-a2db-30c122250a60"}],
        "userV": 67821, "appVersion": "5.29.0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-RateLimit-Limit:
      - '30'
      X-RateLimit-Remaining:
      - '28'
      X-RateLimit-Reset:
      - Mon Oct 28 2024 02:00:02 GMT+0000 (Coordinated Universal Time)
    status:
      code: 200
      message: OK
[...]
- request:
    body: alias=5009431616&text=some+test+task+220&priority=1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      url:
      - https://habitica.com
      x-api-key:
      - 18f22441-2c87-6d8e-fb2a-3fa670837b5a
      x-api-user:
      - cd18fc9f-b649-4384-932a-f3bda6fe8102
    method: PUT
    uri: https://habitica.com/api/v3/tasks/5009431616
  response:
    body:
      string: '{"success": true, "data": {"challenge": {}, "group": {"completedBy":
        {}, "approval": {"required": false, "approved": false, "requested": false},
        "assignedUsers": [], "sharedCompletion": "singleCompletion"}, "_id": "dc2f7866-56b6-4892-873b-b5347a89eb4f",
        "completed": false, "collapseChecklist": false, "type": "todo", "notes": "",
        "tags": [], "value": -3106.3345870734556, "priority": 1, "attribute": "str",
        "byHabitica": false, "text": "some test task 221", "date": null, "alias":
        "5009431616", "checklist": [], "reminders": [], "createdAt": "2021-07-22T03:39:33.683Z",
        "updatedAt": "2024-10-28T01:59:25.276Z", "userId": "518b34ec-0992-457d-a6cb-58e5bd20f522",
        "id": "dc2f7866-56b6-4892-873b-b5347a89eb4f"}, "notifications": [{"type":
        "NEW_STUFF", "data": {"title": "LAST CHANCE FOR CANDY CORN CRITTER SET AND
        CURRENT TIME TRAVELERS'' SELECTIONS"}, "seen": true, "id": "2a4845f7-8f2a-45b6-a2db-30c122250a60"}],
        "userV": 67821, "appVersion": "5.29.0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-RateLimit-Limit:
      - '30'
      X-RateLimit-Remaining:
      - '24'
      X-RateLimit-Reset:
      - Mon Oct 28 2024 02:00:02 GMT+0000 (Coordinated Universal Time)
    status:
      code: 200
      message: OK
[...]
