interactions:
- request:
    body: null
    headers:
      url:
      - https://habitica.com
      x-api-key:
      - 18f22441-2c87-6d8e-fb2a-3fa670837b5a
      x-api-user:
      - cd18fc9f-b649-4384-932a-f3bda6fe8102
    method: GET
    uri: https://habitica.com/api/v3/tasks/user/
  response:
    body:
      string: '{"success": true, "data": [{"_id": "64224417-c8f1-4ce7-a6bd-fc1dc2221f11",
        "up": true, "down": false, "counterUp": 0, "counterDown": 0, "frequency":
        "daily", "history": [{"date": 1711855633168, "value": 1, "scoredUp": 1, "scoredDown":
        0}, {"date": 1712467677921, "value": 1, "scoredUp": 1, "scoredDown": 0}, {"date":
        1712968776692, "value": 1, "scoredUp": 1, "scoredDown": 0}, {"date": 1713155633827,
        "value": 1.243614090235369, "scoredUp": 1, "scoredDown": 0}, {"date": 1714177946272,
        "value": 1, "scoredUp": 1, "scoredDown": 0}, {"date": 1716434202866, "value":
        1, "scoredUp": 1, "scoredDown": 0}, {"date": 1717992911611, "value": 1, "scoredUp":
        1, "scoredDown": 0}, {"date": 1718492240795, "value": 1, "scoredUp": 1, "scoredDown":
        0}, {"date": 1722656221190, "value": 1.9747, "scoredUp": 2, "scoredDown":
        0}, {"date": 1725138075215, "value": 1, "scoredUp": 1, "scoredDown": 0}, {"date":
        1726457768221, "value": 1, "scoredUp": 1, "scoredDown": 0}, {"date": 1727461296611,
        "value": 1, "scoredUp": 1, "scoredDown": 0}, {"date": 1735544115869, "value":
        1, "scoredUp": 1, "scoredDown": 0}, {"date": 1741483746179, "value": 1, "scoredUp":
        1, "scoredDown": 0}], "type": "habit", "text": "some test habit 1", "notes":
        "Test notes", "alias": "sometesthabit1", "tags": [], "value": 0, "priority":
        1.5, "attribute": "str", "challenge": {}, "group": {"completedBy": {}, "assignedUsers":
        []}, "byHabitica": false, "reminders": [], "createdAt": "2024-03-02T22:14:06.221Z",
        "updatedAt": "2025-03-21T04:09:03.182Z", "userId": "cd18fc9f-b649-4384-932a-f3bda6fe8102",
        "id": "64224417-c8f1-4ce7-a6bd-fc1dc2221f11"}, {"_id": "f5d2c8e2-634f-4c48-864d-efd5fca555ae",
        "up": true, "down": true, "counterUp": 2, "counterDown": 0, "frequency": "daily",
        "history": [{"date": 1709444368619, "value": 2.9253562257358428, "scoredUp":
        3, "scoredDown": 0}, {"date": 1709532013739, "value": 5.6443010177121415,
        "scoredUp": 3, "scoredDown": 0}, {"date": 1711344173008, "value": 7.355994112832055,
        "scoredUp": 2, "scoredDown": 0}, {"date": 1711853430[...]
[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer d1347120363c2b310653f610d382729bd51e13c6
    method: GET
    uri: https://api.todoist.com/rest/v2/tasks
  response:
    body:
      string: '[{"id": "7560981747", "assigner_id": null, "assignee_id": null, "project_id":
        "2326168809", "section_id": null, "parent_id": null, "order": -2, "content":
        "some test task 287", "description": "some test description", "is_completed":
        false, "labels": [], "priority": 1, "comment_count": 0, "creator_id": "33931948",
        "created_at": "2024-01-05T04:18:45.105266Z", "due": null, "url": "https://app.todoist.com/app/task/7560981747",
        "duration": null, "deadline": null, "user_id": "34534534534"}, {"id": "7560981204",
        "assigner_id": null, "assignee_id": null, "project_id": "2326168809", "section_id":
        null, "parent_id": null, "order": -1, "content": "some test task 288", "description":
        "some test description", "is_completed": false, "labels": [], "priority":
        1, "comment_count": 0, "creator_id": "33931948", "created_at": "2024-01-05T04:18:16.101468Z",
        "due": null, "url": "https://app.todoist.com/app/task/7560981204", "duration":
     [...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer d1347120363c2b310653f610d382729bd51e13c6
    method: GET
    uri: https://api.todoist.com/sync/v9/completed/get_all
  response:
    body:
      string: '{"items": [{"completed_at": "2025-06-06T03:15:52.000000Z", "content":
        "some test task 388", "id": "8395812650", "item_object": null, "meta_data":
        null, "note_count": 0, "notes": [], "project_id": "2325701967", "section_id":
        null, "task_id": "8953128707", "user_id": "34534534534", "v2_project_id":
        "6RG79QQMQ6r78xx8", "v2_section_id": null, "v2_task_id": "6XRCp2MXxQfjHpgP"},
        {"completed_at": "2025-06-06T03:15:49.000000Z", "content": "some test task
        389", "id": "8395812554", "item_object": null, "meta_data": null, "note_count":
        0, "notes": [], "project_id": "2325654971", "section_id": "142870409", "task_id":
        "8371255064", "user_id": "34534534534", "v2_project_id": "6RFvwxVpc9jCq535",
        "v2_section_id": "6CFR49PjwM6q9MMX", "v2_task_id": "6W7fXWMX5Jm7f5Q5"}, {"completed_at":
        "2025-06-06T03:15:46.000000[...]
