interactions:
- request:
    body: null
    headers:
      url:
      - https://habitica.com
      x-api-key:
      - 18f22441-2c87-6d8e-fb2a-3fa670837b5a
      x-api-user:
      - cd18fc9f-b649-4384-932a-f3bda6fe8102
    method: GET
    uri: https://habitica.com/api/v3/tasks/user/
  response:
    body:
      string: '{"success": true, "data": [{"_id": "64224417-c8f1-4ce7-a6bd-fc1dc2221f11",
        "up": true, "down": false, "counterUp": 0, "counterDown": 0, "frequency":
        "daily", "history": [{"date": 1711855633168, "value": 1, "scoredUp": 1, "scoredDown":
        0}, {"date": 1712467677921, "value": 1, "scoredUp": 1, "scoredDown": 0}, {"date":
        1712968776692, "value": 1, "scoredUp": 1, "scoredDown": 0}, {"date": 1713155633827,
        "value": 1.243614090235369, "scoredUp": 1, "scoredDown": 0}, {"date": 1714177946272,
        "value": 1, "scoredUp": 1, "scoredDown": 0}, {"date": 1716434202866, "value":
        1, "scoredUp": 1, "scoredDown": 0}, {"date": 1717992911611, "value": 1, "scoredUp":
        1, "scoredDown": 0}, {"date": 1718492240795, "value": 1, "scoredUp": 1, "scoredDown":
        0}, {"date": 1722656221190, "value": 1.9747, "scoredUp": 2, "scoredDown":
        0}, {"date": 1725138075215, "value": 1, "scoredUp": 1, "scoredDown": 0}, {"date":
        1726457768221, "value": 1, "scoredUp": 1, "scoredDown": 0}, {"date": 1727461296611,
        "value": 1, "scoredUp": 1, "scoredDown": 0}, {"date": 1735544115869, "value":
        1, "scoredUp": 1, "scoredDown": 0}], "type": "habit", "text": "some test habit
        1", "notes": "Test notes", "alias": "sometesthabit1", "tags": [], "value":
        0.25, "priority": 1.5, "attribute": "str", "challenge": {}, "group": {"completedBy":
        {}, "assignedUsers": []}, "byHabitica": false, "reminders": [], "createdAt":
        "2024-03-02T22:14:06.221Z", "updatedAt": "2025-01-01T07:48:29.362Z", "userId":
        "cd18fc9f-b649-4384-932a-f3bda6fe8102", "id": "64224417-c8f1-4ce7-a6bd-fc1dc2221f11"},
        {"_id": "f5d2c8e2-634f-4c48-864d-efd5fca555ae", "up": true, "down": true,
        "counterUp": 0, "counterDown": 0, "frequency": "daily", "history": [{"date":
        1709444368619, "value": 2.9253562257358428, "scoredUp": 3, "scoredDown": 0},
        {"date": 1709532013739, "value": 5.6443010177121415, "scoredUp": 3, "scoredDown":
        0}, {"date": 1711344173008, "value": 7.355994112832055, "scoredUp": 2, "scoredDown":
        0}, {"date": 17[...]
[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer d1347120363c2b310653f610d382729bd51e13c6
    method: GET
    uri: https://api.todoist.com/rest/v2/tasks
  response:
    body:
      string: '[{"id": "4838805235", "assigner_id": null, "assignee_id": null, "project_id":
        "2325654971", "section_id": "142870400", "parent_id": null, "order": 0, "content":
        "some test task 247", "description": "some test description", "is_completed":
        false, "labels": [], "priority": 2, "comment_count": 1, "creator_id": "33931948",
        "created_at": "2021-05-19T02:17:28.278377Z", "due": null, "url": "https://app.todoist.com/app/task/4838805235",
        "duration": null, "deadline": null, "user_id": "34534534534"}, {"id": "4986052922",
        "assigner_id": null, "assignee_id": null, "project_id": "2325654971", "section_id":
        "142870400", "parent_id": "4838805235", "order": 2, "content": "some test
        task 248", "description": "some test description", "is_completed": false,
        "labels": [], "priority": 1, "comment_count": 0, "creator_id": "33931948",
        "created_at": "2021-07-13T04:36:40.935458Z", "due": null, "url": "https://app.todoist.com/app/task/4986052922",
   [...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer d1347120363c2b310653f610d382729bd51e13c6
    method: GET
    uri: https://api.todoist.com/sync/v9/completed/get_all
  response:
    body:
      string: '{"items": [{"completed_at": "2025-01-02T00:28:35.000000Z", "content":
        "some test task 328", "id": "7944199265", "item_object": null, "meta_data":
        null, "note_count": 0, "notes": [], "project_id": "2265601233", "section_id":
        null, "task_id": "8725300946", "user_id": "34534534534", "v2_project_id":
        "6FG463cPhJgjM8pw", "v2_section_id": null, "v2_task_id": "6X2gf2hJ7RjJP6FP"},
        {"completed_at": "2025-01-02T00:04:07.000000Z", "content": "some test task
        329", "id": "7944165392", "item_object": null, "meta_data": null, "note_count":
        0, "notes": [], "project_id": "2265601233", "section_id": null, "task_id":
        "8725436211", "user_id": "34534534534", "v2_project_id": "6FG463cPhJgjM8pw",
        "v2_section_id": null, "v2_task_id": "6X2h5MX67PwjVVfw"}, {"completed_at":
        "2024-12-31T00:26:52.000000Z", "content": "some [...]
